node_modules/
/slides/node_modules
/.mastracode/proof/
dist/
.mastra/
**/.mastra/
.DS_Store
*.log
*.db
*.db-shm
*.db-wal
**/.svelte-kit
# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
**/build
