output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
*.duckdb
*.duckdb.wal
*.duckdb-shm
*.db-shm
*.db-wal
src/mastra/public/
src/mastra/scripts/
mastra.duckdb
mastra.duckdb.wal
.netlify
.vercel
